block footer

    footer#footer.footer

        .container

            .footer__top

                .footer__nav

                    .footer__nav-link
                        a(href="#") Каталог
                    .footer__nav-link
                        a(href="#") Акции
                    .footer__nav-link
                        a(href="#") Сравнение
                    .footer__nav-link
                        a(href="#") О нас
                    .footer__nav-link
                        a(href="#") Оплата и доставка
                    .footer__nav-link
                        a(href="#") Контакты

                .footer__phone

                    a.footer__phone-link(href="tel:88005115508") 8 800 511 55 08
                    a.footer__phone-link(href="tel:84997050010") 8 499 705 00 10

            .footer__bottom

                .footer__logo
                    a(href="/")
                        img(src="assets/images/logo.png", alt="logo")

                .footer__copyright
                    p © Все права защищены Sonography 2022
                    p
                      a(href="https://di-project.studio/" target="_blank") Изготовление сайта в
                      span  Di-Project

                .footer__end
                    a(href="mailto:info@sonography.ru") info@sonography.ru
                    a(href="#") Карта сайта