block header

    header#header.header

        .header__inner

            .header__logo
                a(href="/")
                    img(src="assets/images/logo.png", alt="logo")

            .header__nav
                nav.nav
                    a.nav__item(href="#") Каталог
                    a.nav__item(href="#") Акции
                    a.nav__item(href="#") Сравнение
                    a.nav__item(href="#") О нас
                    a.nav__item(href="#") Оплата и доставка
                    a.nav__item(href="#") Контакты

            .header__action
                a.action-button.action-button-compare(href="#" data-stock="0")
                    i.far.fa-signal-4

                a.action-button.action-button-search(href="#")
                    i.far.fa-search

            .header__phone
                a(href="tel:88005115508") 8 800 511 55 08
                a(href="tel:84997050010") 8 499 705 00 10
