.breadcrumbs {
    padding: 20px 0 0;
}

.breadcrumbs-wrapper {
    display: none;

    @include breakpoint(md) {
        display: flex;
        align-items: center;
    }
}

.breadcrumbs-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: $gray1;

    @include breakpointMax(xl) {
        max-width: 360px;
        @include textLimit(1);
    }
}

.breadcrumbs-item:first-child {
    font-size: 16px;
}

.breadcrumbs-item span {
    cursor: default;
}

.breadcrumbs-separator::after {
    content: "—";
    margin: 0 8px;
    display: block;
    font-weight: 300;
    font-size: 14px;
    color: $gray1;
    text-align: center;
}

.page-title {
    margin: 22px 0 0;
    font-weight: 600;
    font-size: 36px;
    line-height: 100%;
    color: $gray1;
}