.delivery-page {
    padding: 60px 0 80px;
}

.delivery-page p {
    font-weight: 300;
    font-size: 24px;
    color: #000;
}

.delivery-page h3 {
    margin: 48px 0;
    font-size: 32px;
}

.reviews__container {
    padding-bottom: 20px;
    display: flex;
}

.gallery__container {
    display: flex;
}