.banner {
    padding: 0 48px 48px;
    background: #fff;
    position: relative;
    height: calc(max(100vh, 760px));
    max-height: 824px;
}

.banner__slider {
    position: relative;
    height: 100%;
}

.banner__slide {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.banner__slide::before {
    content: '';
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.46) 0%, rgba(0, 0, 0, 0.56) 100%);
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
}

.banner__title {
    margin-bottom: 100px;
    padding-top: 280px;
    max-width: 550px;
    font-weight: 600;
    font-size: 80px;
    line-height: 100%;
    color: #FFFFFF;
}

.banner__inner {
    display: flex;
}

.banner__inner .button-style {
    margin-right: 50px;
    width: 234px;
}

.banner__inner p {
    max-width: 438px;
    font-weight: 500;
    color: #fff;
}

.banner__mail {
    position: absolute;
    right: 75px;
    bottom: 35px;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-decoration-line: underline;
    color: $gray5;
}

.banner__mail:hover {
    color: #c1c1c1;
}

.banner__pagination {
    bottom: 55px!important;
}

.banner__pagination .swiper-pagination-bullet {
    background: $gray5;
    width: 8px;
    height: 4px;
    opacity: 1;
    border-radius: 0;
    transition: width 0.3s ease;
}

.banner__pagination .swiper-pagination-bullet-active {
    width: 31px;
}

.banner__arrows {
    position: absolute;
    top: calc(50% - 80px);
    left: 47px;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 94px);
    z-index: 1;
}

.banner-arrow {
    background: #fff;
    position: relative;
    width: 42px;
    height: 104px;
    font-size: 18px;
    line-height: 18px;
    color: #353745;
}

.banner-arrow-prev i {
    transform: translateX(-21px);
}

.banner-arrow-next i {
    transform: translateX(21px);
}

.main-products {
    padding: 35px 0 680px;
    background: url('../images/main-bg.png');
    background-size: cover;
}

.main-products__title {
    position: absolute;
    top: 75px;
    right: 90px;
}

.main-products__title h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    color: #000000;
}

.main-products__title p {
    margin-top: 40px;
    max-width: 330px;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: $gray2;
}

.main-products__block {
    position: relative;
}

.main-products__tile {
    position: relative;
    width: calc(50%);
}

.main-products__tile::before {
    content: '';
    position: absolute;
    display: block;
    border: 1px solid $gray4;
    z-index: 0;
}

.main-products__tile:nth-child(even) {
    position: absolute;
    right: 0;
    width: calc(50%);
    text-align: right;
}

.main-products__tile {

    &:nth-child(1)::before {
        top: 105px;
        right: 50px;
        width: 473px;
        height: 361px;
    }

    &:nth-child(2)::before {
        top: 95px;
        right: 80px;
        width: 466px;
        height: 499px;
    }

    &:nth-child(3)::before {
        top: 105px;
        right: 60px;
        width: 473px;
        height: 508px;
    }

    &:nth-child(4)::before {
        top: 120px;
        right: 80px;
        width: 466px;
        height: 501px;
    }

    &:nth-child(5)::before {
        top: 100px;
        right: 60px;
        width: 473px;
        height: 448px;
    }

    &:nth-child(6)::before {
        top: 65px;
        right: 95px;
        width: 466px;
        height: 438px;
    }

    &:nth-child(7)::before {
        top: -30px;
        right: 80px;
        width: 473px;
        height: 377px;
    }

    &:nth-child(8)::before {
        top: 90px;
        right: 75px;
        width: 466px;
        height: 455px;
    }

    &:nth-child(9)::before {
        top: -25px;
        right: 80px;
        width: 473px;
        height: 447px;
    }

    &:nth-child(10)::before {
        top: 0;
        right: 75px;
        width: 466px;
        height: 455px;
    }
}

.main-products__img {
    position: relative;
}

.main-products__tile  {

    &:nth-child(1) .main-products__img {
        margin-left: 50px;
    }

    &:nth-child(2) {
        margin-top: -75px;

        & .main-products__img {
            margin-right: 80px;
        }
    }

    &:nth-child(3) {
        margin-top: 180px;
    }

    &:nth-child(4) .main-products__img {
        margin-right: 125px;
    }

    &:nth-child(5) {
        margin-top: 350px;

        & .main-products__img {
            margin-left: 90px;
        }
    }

    &:nth-child(6) {
        margin-top: -65px;
    }

    &:nth-child(7) {
        margin-top: 320px;

        & .main-products__label {
            margin-top: 50px;
        }
    }

    &:nth-child(8) {

        & .main-products__img {
            margin-right: 50px;
        }
    }

    &:nth-child(9) {
        margin-top: 330px;
    }
}

.main-products__label {
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: $gray1;
}

.main-products__advise {
    padding: 44px 56px 70px;
    position: absolute;
    left: 85px;
    bottom: -600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 473px;
    height: 379px;
    border: 1px solid $gray5;
}

.main-products__advise h4 {
    margin-left: -100px;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    color: #000000;
}

.main-products__advise p {
    margin: 45px 0 50px;
}

.main-products__advise .button-style {
    max-width: 194px;
}

.main-bottom {
    padding: 86px 0 50px;
    position: relative;
    color: #fff;
}

.main-bottom::before {
    content: '';
    background: linear-gradient(90deg, #000000 45.44%, rgba(0, 0, 0, 0.8) 65.03%), url('../images/bottom-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 0;
}

.bottom__container {
    display: flex;
    justify-content: space-between;
}

.bottom__slider {
    width: calc(((100% / 12) * 4) - 15px);
}

.bottom__swiper {
    margin-top: 82px;
}

.bottom__slider h4 {
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
}

.slide__image {
    width: 100%;
    height: 251px;
    overflow: hidden;
}

.slide__image img {
    width: 100%;
    object-fit: cover;
}

.bottom__swiper p {
    margin-top: 28px;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.5em;
}

.bottom__slider-pagination {
    left: unset!important;
    right: 0!important;
    bottom: 0!important;
    width: auto!important;
}

.bottom__slider-pagination .swiper-pagination-bullet {
    background: $gray5;
    width: 8px;
    height: 4px;
    opacity: 1;
    border-radius: 0;
    transition: width 0.3s ease;
}

.bottom__slider-pagination .swiper-pagination-bullet-active {
    width: 31px;
}

.bottom__text {
    width: calc((100% / 12) * 4);
}

.bottom__text p {
    font-size: 14px;
    line-height: 180%;
}

.bottom__text p b {
    margin-bottom: 70px;
    display: inline-block;
    color: $orange;
}

.bottom__stats {
    width: calc(((100% / 12) * 2) - 30px);
}

.stats__item ~ .stats__item {
    margin-top: 30px;
}

.stats__item p:first-child {
    font-weight: 500;
    font-size: 48px;
    line-height: 110%;
}

.stats__item p:last-child {
    margin-top: 5px;
    font-size: 14px;
    line-height: 180%;
    color: $orange;
}