.header {
    padding-top: 48px;
    color: #F5F7FC;
}

.header__inner {
    margin-top: 30px;
    padding: 0 52px;
    position: absolute;
    top: 48px;
    left: 50px;
    display: flex;
    align-items: center;
    width: calc(100% - 100px);
    z-index: 2;
}

.header__logo img {
    vertical-align: middle;
}

.header__nav {
    margin-left: auto;
}

.nav {
    display: flex;
}

.nav__item {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #F5F7FC;
}

.nav__item:hover {
    color: #c1c1c1;
}

.nav__item ~ .nav__item {
    margin-left: 36px;
}

.header__action {
    margin-left: 110px;
    display: flex;
}

.action-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 43px;
    height: 43px;
    transition: transform 0.5s ease;
    cursor: pointer;
}

.action-button:hover {
    transform: scale(1.1);
}

.action-button-compare {
    background: #000000;
    font-size: 20px;
    line-height: 20px;
}

.action-button-search {
    margin-left: 14px;
    background: $orange;
    font-size: 14px;
    line-height: 14px;
    color: #000;
}

.header__phone {
    margin-left: 36px;
    display: flex;
}

.header__phone a ~ a {
    margin-left: 25px;
}

.header__phone a:hover {
    color: #c1c1c1;
}