---
title: Sonography | Главная
bodyClass: main-page
---

extends includes/_page

block main

    .main-page

        .banner

            .banner__slider.swiper

                .swiper-wrapper

                    .swiper-slide
                        .banner__slide(style="background-image: url(assets/images/hero.jpg)")
                            .container
                                h2.banner__title Складская спецтехника
                                .banner__inner
                                    a.button-style.button-style--transparent-gray(href="#") Подробнее
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            a.banner__mail(href="mailto:info@sonography.ru") info@sonography.ru

                    .swiper-slide
                        .banner__slide(style="background-image: url(assets/images/hero.jpg)")
                            .container
                                h2.banner__title Складская спецтехника
                                .banner__inner
                                    a.button-style.button-style--transparent-gray(href="#") Подробнее
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            a.banner__mail(href="mailto:info@sonography.ru") info@sonography.ru

                    .swiper-slide
                        .banner__slide(style="background-image: url(assets/images/hero.jpg)")
                            .container
                                h2.banner__title Складская спецтехника
                                .banner__inner
                                    a.button-style.button-style--transparent-gray(href="#") Подробнее
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            a.banner__mail(href="mailto:info@sonography.ru") info@sonography.ru

                    .swiper-slide
                        .banner__slide(style="background-image: url(assets/images/hero.jpg)")
                            .container
                                h2.banner__title Складская спецтехника
                                .banner__inner
                                    a.button-style.button-style--transparent-gray(href="#") Подробнее
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            a.banner__mail(href="mailto:info@sonography.ru") info@sonography.ru

                .banner__pagination.swiper-pagination

            .banner__arrows
                button.banner-arrow.banner-arrow-prev
                    i.fal.fa-arrow-left
                button.banner-arrow.banner-arrow-next
                    i.fal.fa-arrow-right

        .main-products

            .container

                .main-products__title
                    h2 Каталог продукции
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo

                .main-products__block

                    .main-products__tile
                        .main-products__img
                            img(src="assets/images/prod-1.png", alt="img")
                        .main-products__label Вилочные погрузчики

                    .main-products__tile
                        .main-products__img
                            img(src="assets/images/prod-2.png", alt="img")
                        .main-products__label Ричтраки

                    .main-products__tile
                        .main-products__img
                            img(src="assets/images/prod-3.png", alt="img")
                        .main-products__label Перевозчики палет

                    .main-products__tile
                        .main-products__img
                            img(src="assets/images/prod-4.png", alt="img")
                        .main-products__label Штабелеры

                    .main-products__tile
                        .main-products__img
                            img(src="assets/images/prod-5.png", alt="img")
                        .main-products__label Комплектовщики заказов

                    .main-products__tile
                        .main-products__img
                            img(src="assets/images/prod-6.png", alt="img")
                        .main-products__label Складские тягачи

                    .main-products__tile
                        .main-products__img
                            img(src="assets/images/prod-7.png", alt="img")
                        .main-products__label Ножничные подъемники

                    .main-products__tile
                        .main-products__img
                            img(src="assets/images/prod-8.png", alt="img")
                        .main-products__label Ричстакеры

                    .main-products__tile
                        .main-products__img
                            img(src="assets/images/prod-9.png", alt="img")
                        .main-products__label Вездеходы

                    .main-products__tile
                        .main-products__img
                            img(src="assets/images/prod-10.png", alt="img")
                        .main-products__label Тракторы

                .main-products__advise
                    h4 Нужен совет?
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo
                    a.button-style(href="#") Подробнее

        .main-bottom

            .container

                .bottom__container

                    .bottom__slider
                        h4 О компании
                        .bottom__swiper.swiper
                            .swiper-wrapper
                                .bottom__slide.swiper-slide
                                    .slide__image
                                        img(src="assets/images/JAC-zavod-1.jpg", alt="img")
                                .bottom__slide.swiper-slide
                                    .slide__image
                                        img(src="assets/images/JAC-zavod-1.jpg", alt="img")
                                .bottom__slide.swiper-slide
                                    .slide__image
                                        img(src="assets/images/JAC-zavod-1.jpg", alt="img")

                            p Заводы изготовители
                            .bottom__slider-pagination.swiper-pagination

                    .bottom__text
                        p <b>Kåskapet nisesam, liksom lågaffektivt och geoning som sovis trikarat pode.</b>
                        p Kagt talepunkt vivinade dott bejått. Kåskapet nisesam, liksom lågaffektivt bemötande och geoning som sovis trikarat pode. Säligt supranade om anavalens epivision. Refanade euda krosod att hexasm tvåkönsnorm så varsomhelstare och ner jåre.
                        br
                        |Kar grindstad i megaminar misär. Id-sprej popcornhjärna disade huruvida kanera. Mast orar nelig urelig i epinde att pelingar i kron, och prelig nuler: endogen. Suberade resen Kåskapet nisesam, liksom lågaffektivt och geoning som sovis trikarat pode.


                    .bottom__stats
                        .stats__item
                            p 450
                            p Text descriptoin


                        .stats__item
                            p 1 000 +
                            p Text descriptoin


                        .stats__item
                            p 1 000 +
                            p Text descriptoin


                        .stats__item
                            p 45
                            p Text descriptoin