---
title: Sonography | Дизельный погрузчик Hangcha CPCD70-XRG77-X
page: category
---

extends includes/_page

block main

    // Breadcrumbs::Start
    include components/_breadcrumbs
    +breadcrumbs('Дизельный погрузчик Hangcha CPCD70-XRG77-X', 'Вилочные погрузчики', 'Дизельный погрузчик Hangcha CPCD70-XRG77-X')
    // Breadcrumbs::End

    .item-page

        .container

            .item__inner

                .item

                    // Slider
                    .item__image

                        .swiper-item-pagination.swiper

                            .item__container.swiper-wrapper

                                .swiper-slide
                                    .item__block
                                        img(src="assets/images/item.jpg", alt="img")

                                .swiper-slide
                                    .item__block
                                        img(src="assets/images/item.jpg", alt="img")

                                .swiper-slide
                                    .item__block
                                        img(src="assets/images/item.jpg", alt="img")

                                .swiper-slide
                                    .item__block
                                        img(src="assets/images/item.jpg", alt="img")

                                .swiper-slide
                                    .item__block
                                        img(src="assets/images/item.jpg", alt="img")

                            .swiper-arrows
                                button.item-arrow.item-arrow-prev
                                    i.fal.fa-chevron-up
                                button.item-arrow.item-arrow-next
                                    i.fal.fa-chevron-down


                        .swiper-item.swiper

                            .item__container.swiper-wrapper

                                .swiper-slide
                                    .item__block
                                        img(src="assets/images/item.jpg", alt="img")

                                .swiper-slide
                                    .item__block
                                        img(src="assets/images/item.jpg", alt="img")

                                .swiper-slide
                                    .item__block
                                        img(src="assets/images/item.jpg", alt="img")

                                .swiper-slide
                                    .item__block
                                        img(src="assets/images/item.jpg", alt="img")

                                .swiper-slide
                                    .item__block
                                        img(src="assets/images/item.jpg", alt="img")