---
title: Sonography | Акции
page: sale
---

extends includes/_page

block main

    // Breadcrumbs::Start
    include components/_breadcrumbs
    +breadcrumbs('Техника, участвующая в  акции:', 'Акции')
    // Breadcrumbs::End

    .sale-page

        .container

            .sale__container

                .sale__block
                    .sale__image
                        img(src="assets/images/image-19.jpg", alt="img")
                    .sale__desc
                        .sale-value -15%
                        h4 Погрузчик вилочный LElT 24553535
                        p Mism dihet: bionera tingen trid huruvida dide diskapet kreativ skolgång. Båreliga kotlettfrilla komlogi telesade inte idat Vaving sonar, även om ljudaffisch, eugen, dåvebel förade i pytodisk utan der misade pretet. Lalement hilogi pokropynade ifall blockkedja fastän nirar dekasangen ner hilar, poke ögisk.
                        .sale__desc-bottom
                            .sale-pricing
                                span.price-sale 1 700 000
                                span.price-main 1 600 000

                            a.button-style.button-style--transparent-orange(href="#") Подробнее

                .sale__block
                    .sale__image
                        img(src="assets/images/image-20.jpg", alt="img")
                    .sale__desc
                        .sale-value -15%
                        h4 Погрузчик вилочный LElT 24553535
                        p Mism dihet: bionera tingen trid huruvida dide diskapet kreativ skolgång. Båreliga kotlettfrilla komlogi telesade inte idat Vaving sonar, även om ljudaffisch, eugen, dåvebel förade i pytodisk utan der misade pretet. Lalement hilogi pokropynade ifall blockkedja fastän nirar dekasangen ner hilar, poke ögisk.
                        .sale__desc-bottom
                            .sale-pricing
                                span.price-sale 1 700 000
                                span.price-main 1 600 000

                            a.button-style.button-style--transparent-orange(href="#") Подробнее

                .sale__block
                    .sale__image
                        img(src="assets/images/image-17.jpg", alt="img")
                    .sale__desc
                        .sale-value -15%
                        h4 Погрузчик вилочный LElT 24553535
                        p Mism dihet: bionera tingen trid huruvida dide diskapet kreativ skolgång. Båreliga kotlettfrilla komlogi telesade inte idat Vaving sonar, även om ljudaffisch, eugen, dåvebel förade i pytodisk utan der misade pretet. Lalement hilogi pokropynade ifall blockkedja fastän nirar dekasangen ner hilar, poke ögisk.
                        .sale__desc-bottom
                            .sale-pricing
                                span.price-sale 1 700 000
                                span.price-main 1 600 000

                            a.button-style.button-style--transparent-orange(href="#") Подробнее

                .sale__block
                    .sale__image
                        img(src="assets/images/image-16.jpg", alt="img")
                    .sale__desc
                        .sale-value -15%
                        h4 Погрузчик вилочный LElT 24553535
                        p Mism dihet: bionera tingen trid huruvida dide diskapet kreativ skolgång. Båreliga kotlettfrilla komlogi telesade inte idat Vaving sonar, även om ljudaffisch, eugen, dåvebel förade i pytodisk utan der misade pretet. Lalement hilogi pokropynade ifall blockkedja fastän nirar dekasangen ner hilar, poke ögisk.
                        .sale__desc-bottom
                            .sale-pricing
                                span.price-sale 1 700 000
                                span.price-main 1 600 000

                            a.button-style.button-style--transparent-orange(href="#") Подробнее

            // Pagination
            .pagination

                a.pagination-link.pagination-arrow.pagination-arrow-left.disabled(href="javascript:void(0)")
                    i.fal.fa-arrow-left

                a.pagination-link.active(href="javascript:void(0)") 1
                a.pagination-link(href="javascript:void(0)") 2
                a.pagination-link(href="javascript:void(0)") 3
                a.pagination-link(href="javascript:void(0)") 4
                a.pagination-link(href="javascript:void(0)") 5

                a.pagination-link.pagination-arrow.pagination-arrow-right(href="javascript:void(0)")
                    i.fal.fa-arrow-right